# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [ ]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [1]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

a = [1, 2, 3, 4, 5, 6]
a[-3:]

[4, 5, 6]

In [2]:
# create a list of numbers from 1 to 20

list(range(1, 21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [1]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell

list(range(2, 101, 2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [ ]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second

def divide(first, second):
  return first / second

In [2]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for i in range(1, 31):
    if i % 3 == 0 and i % 5 == 0:
        print("fizzbuzz")
    elif i % 3 == 0:
        print("fizz")
    elif i % 5 == 0:
        print("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [3]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

menu_pricing = {"Gyro": 9, "Burger": 9, "Greek Salad": 8, "Philly Steak": 10}

In [3]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

import pandas as pd
starbucks_data = pd.read_csv("../data/starbucks.csv")
type(starbucks_data)

pandas.core.frame.DataFrame

In [4]:
# select all rows with more than and including 400 calories
high_calorie_items = starbucks_data[starbucks_data['calories'] >= 400]

In [5]:
# select all rows whose vitamin c content is higher than the iron content
high_vitamin_c_items = starbucks_data[starbucks_data['vitamin c'] > starbucks_data['iron']]

In [6]:
# create a new column containing the caffeine per calories of each drink
starbucks_data['caffeine_per_calorie'] = starbucks_data['caffeine'] / starbucks_data['calories']

In [7]:
# what is the average calorie across all items?
average_calorie = starbucks_data['calories'].mean()

In [8]:
# how many different categories of beverages are there?
num_categories = starbucks_data['beverage_category'].nunique()

In [9]:
# what is the average # calories for each beverage category?
average_calories_by_category = starbucks_data.groupby('beverage_category')['calories'].mean()